<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <title> {% block title %} {% endblock %} </title>
            {% block css %}<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}" />{% endblock %}
        {% endblock head %}
    </head>
    <body>
        {% block body %} {% endblock %}

        {% block footer %}
            <img src="https://www.math.uzh.ch/as/typo3conf/ext/uzh_cd_template/Resources/Public/Images/uzh_logo_e_pos.svg" class="center">
        {% endblock %}
    </body>
</html>